<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iatjt.whib">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Whib">
        <activity android:name="com.iatjt.whib.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.iatjt.whib.HomeActivity" />
        <activity android:name="com.iatjt.whib.WhereaboutsActivity" />
        <activity android:name="com.iatjt.whib.WhereaboutDetailActivity" />
        <activity android:name="com.iatjt.whib.AddWhereaboutActivity" />
        <activity android:name="com.iatjt.whib.RemindersActivity" />
        <activity android:name="com.iatjt.whib.ReminderDetailActivity" />
        <activity android:name="com.iatjt.whib.AddReminderActivity" />
        <activity android:name="com.iatjt.whib.TestActivity" />
        <service android:name=".MyFirebaseMessagingService"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
        </service>
        <receiver android:name=".ReminderBroadcast" />
    </application>

</manifest>
